<div class="left">
  <b>file manager</b>
  <a href="/delete">remove file data from array</a>
</div>
<div class="main">
  <table>
    <thead>
      <tr>
        <td>id</td>
        <td>img</td>
        <td>name</td>
        <td>size</td>
        <td>type</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </thead>
    <tbody>
      {{#each files}}
        <tr>
          <td>{{id}}</td>
          <td><img src="{{img}}" style="width: 50px; height: 50px;"></td>
          <td>{{name}}</td>
          <td>{{size}}</td>
          <td>{{type}}</td>
          <td><a href="/delete/{{id}}">DELETE</a></td>
          <td><a href="/info/{{id}}">INFO</a></td>
          <td><a href="/down/{{id}}" download="{{name}}">DOWNLOAD</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>