<div class="left">
  <b>file info</b>
</div>
<div class="main info">
  <h3><u>id:</u> {{this.id}}</h3>
  <h3><u>name:</u> {{this.name}}</h3>
  <h3><u>path:</u> {{this.path}}</h3>
  <h3><u>size:</u> {{this.size}}</h3>
  <h3><u>type:</u> {{this.type}}</h3>
  <h3><u>savedate:</u> {{this.savedate}}</h3>
</div>